@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #ffffff;
  color: #333333;
}

.Toastify__toast-container {
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  z-index: 1 !important;
}
